.userhomemtitle{
    font-weight: 500;
    font-size: 25px;
    margin-top: 40px;
}

.userhome_searchbox{
    padding-top: 20px;
}

.searchbox-right{
    flex-direction: row;
    justify-content: flex-end;
}

.search11{
    height: 30px;
}