.title_reminder{
    font-size: 22px;
    font-weight: 500;
    /* padding-left: 320px; */
    

}

.reminder_page{
    padding-top: 50px;
    width: 1600px;;
    padding-left: 320px;
    padding-right: 140px; 
    block-size: fit-content;
    /* border: 1px solid black; */
}

.sub_reminder{
    font-size: 18px;
}

.single_reminder{
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px 40px;
    margin-top: 40px !important;
}


.reminderpage_image{
    display: inline;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 50px !important;
}

.reminderpage_button{
    padding-left: 690px;
}

.reminderpage_singlebutton{
    margin-bottom: 15px;
}

.add_a_new_reminder{
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 50px;
    margin-top: 30px !important;
}

.reminder_topic{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 5px;
}

.date_picker{
    height: 100px;
}


.date_picker_item{
width: 300px;
/* border: 1px solid black; */
margin-bottom: 10px!important;}

