.post_job_heading{
   
    padding-top: 50px;
}


.post_job_sub{
    font-size: 17px;
    font-weight: 400;
}

.post_questions{
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 8px;
}