.title{
    font-size: 22px;
    font-weight: 500;
    /* padding-left: 320px; */
    padding-top: 50px;
    width: 1600px;;
    margin-left: 320px;
    block-size: fit-content;

}

.applied-whole-box{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    font-weight: 500;
    margin-right: 130px;
    margin-top: 50px;
    padding:45px;
}

.appliedsidepane-main{
    width: 250px;
    margin-top: 130px;
    position:absolute;
    padding-left: 20px;
}

.imagewrapper{
   margin: 10px;
}
.profile-image{
    display: inline;
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 50px;

}

.appliedinfo{
font-size: 18px;
}

.appliedinfo2{
    font-size: 18px;
    }

.appliedinfotext{
padding-top: 5px;
}

.accepttab{
    margin-top: 20px;
}

.accept-button-class{
    padding-right: 32px;
}

.accept-button{
    height:39px;
    outline: none;
    background:  #495c83;
    border: 2px solid #495c83;
    border-radius: 7px;
    padding: 5px 22px 5px 22px;
    font-size: 1.2em;
    font-weight: 400;
    color: white;       
    width: auto;
}

.accept-button:hover{
    background-color:white;
    color:  #495c83;
}

.reject-button{
    height:39px;
    outline: none;
    background:  white;
    border: 2px solid #495c83;
    border-radius: 7px;
    padding: 5px 22px 5px 22px;
    font-size: 1.2em;
    font-weight: 400;
    color: #495c83; 
    width: auto;
}

.reject-button:hover{
    background:  #495c83;
    color: white;       
}

.vertical-line{
    margin-left: 90px;
    margin-right: 50px;
    border-left: 2px solid #495c83;
  height: 180px;
}

.icons-class{
    position: relative;
}

.appliedicons{
    color:#495c83;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.Tab-name{
    margin-top: 50px;
}

.applied-profile-tab{
    margin-top: 49px;
}

.skillscontain{
background-color: red;
}

.profiletab-heading{
    font-size: 19px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.profiletab-desc{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}



.skillspacing{
    margin-right: 100px;
}

.row-main{
    padding:20px;
    font-weight: 16px;


}

input{
    width: 600px;
    height:50px

}

.appliedstarheading{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.appliedstarskill{
    padding: 5px;
}

.applied-stars{
   font-size: 21px;
   color: #FFD700;
}


.reject-popupbuttons{
    padding-top: 30px;
}

.rejectreason{
    font-weight: 450px;
    padding-top: 20px;
}